<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"   
    xmlns:context="http://www.springframework.org/schema/context"  
    xmlns:mvc="http://www.springframework.org/schema/mvc"  
    xsi:schemaLocation="  
        http://www.springframework.org/schema/beans  
        http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://www.springframework.org/schema/context  
        http://www.springframework.org/schema/context/spring-context.xsd  
        http://www.springframework.org/schema/mvc  
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">  
  
  
    <!--Provide support for conversion, formatting and validation -->  
    <mvc:annotation-driven/>
    
    <!-- Provide support for component scanning -->  
    <context:component-scan base-package="com" />  
    
    <!-- Define Spring MVC view resolver -->  
	<bean id="viewResolver" class="org.springframework.web.servlet.view.UrlBasedViewResolver"> 
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" /> 
        <property name="prefix" value="/WEB-INF/jsp/"></property>  
        <property name="suffix" value=".jsp"></property>          
     </bean>  
     
     <mvc:interceptors>
	    <bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor"/>
	    <mvc:interceptor>
	        <mvc:mapping path="/admin/**" />
	   		<bean class="com.interceptor.AdminInterceptor" />
	    </mvc:interceptor>
	    <mvc:interceptor>
	        <mvc:mapping path="/user/**" />
	   		<bean class="com.interceptor.EmployeeInterceptor" />
	    </mvc:interceptor>
	</mvc:interceptors>
     
     <bean id="ds"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver"></property>
		<property name="url"
			value="jdbc:mysql://localhost:3306/empdb?useSSL=false"></property>
		<property name="username" value="root"></property>
		<property name="password" value=""></property>
	</bean>

	<!-- Persistence.xml is not required -->
	<bean
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
		id="emf">
		<property name="dataSource" ref="ds"></property>
		<property name="packagesToScan" value="com.bean"></property>
		<property name="jpaProperties">
			<props>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		<property name="jpaVendorAdapter">
			<bean
				class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
			</bean>
		</property>
	</bean>
  
</beans>  